<!DOCTYPE html>
<<<<<<< Updated upstream:diveintodocker/src/08-dockerizing-your-web-applications/rails/app/views/layouts/mailer.html.erb
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
=======
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Can i has cheesburger? </h1>
    <h2> Yes you can </h2>
</body>
</html>

<?php
    phpinfo();
?>
>>>>>>> Stashed changes:compose/course/ex0/public_html/index.html
